export(areaPoly)export(check.state)export(choropleth.plot)export(choropleth)export(choropleth.spplot)export(city)export(county)export(demographics)export(install.blk)export(install.blkgrp)export(install.tract)
export(install.cdp)
export(install.county)export(MSA)export(nameTofips)
export(CensusAPI2010)
export(poly.clipper)
export(CensusAPI2010Spatial)

import(sp)
import(maptools)
import(rgeos)
import(rjson)
import(foreign)
import(methods)
import(utils)


